*{


	margin: 0px;
	padding: 0px;
}


.main {
	margin: 80px;
}
input.textview {
    width: 251px;
    height: 58px;
    font-size: 26px;
    margin: 45px 6px 26px;
    text-align: left;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0px 1px 11px -2px;
}
input#button {
	width: 60px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	margin: 2px;
	box-shadow: 2px 2px 2px -1px red;
	background: #1e90ff80;
	border: none;
	border-radius: 4px;
	transition: all 0.2s;
	font-size: 18px;
}
input#button:focus{
background: #13A0EBFF;
color: white;
}

.main {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%,-50%);
    border: 10px solid #433b3b14;
    width: 265px;
    height: 419px;
    background: #007eff1c;
    border-radius: 8px;
    box-shadow: 1px 2px 8px -1px;
}